@use "global" as *;

.introduction-card-list {
  // width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: rem(40);
  margin: 0 auto;
}

.introduction-card-list__item {
  margin: 0;
  padding: 0;
  width: calc(100% / 5 - rem(40) * 4 / 5);
}

@include mq("md") {
  .introduction-card-list {
    // width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: rem(40);
    margin: 0 auto;
  }

  .introduction-card-list__item {
    margin: 0;
    padding: 0;
    width: calc(100% / 5 - rem(40) * 4 / 5);
  }
}

@include mq("sm") {
  .introduction-card-list {
    // width: 100%;
    // display: flex;
    // flex-direction: row;
    // flex-wrap: wrap;
    column-gap: rem(0);
    row-gap: rem(30);
    // margin: 0 auto;
    padding: 0 rem(100);
  }

  .introduction-card-list__item {
    margin: 0;
    padding: 0;
    width: calc(100% / 1);
  }
}
