@use "global" as *;

.linkButton {
  display: block;
  font-size: rem(16);
  line-height: rem(61);
  letter-spacing: rem(0);
  font-family: $base-font-family;
  font-weight: $bold;
  color: $white;
  background-color: $dark-blue;
  border-radius: 35px;
  // padding: 0 rem(35.5);
  text-align: center;
  @include mq("md") {
      display: inline-block;
      font-size: rem(16);
      line-height: rem(72);
      letter-spacing: rem(0);
      // font-weight: $bold;
      border-radius: 35px;
      padding: 0 rem(20);
      text-align: center;
  }
}

.linkButton--download {
  letter-spacing: rem(2);
}

.linkButton:hover {
  background-color: rgb(1, 181, 191, 0.5);
  color: $white;
}
