@use "global" as *;

.support-card {
  background-color: $gray;
  border-radius: 10px;
  padding: rem(80) 0 rem(27);
}

// ﾓﾃﾞｨﾌｧｲｱ
.support-card__imgWrapper--1 {
  padding-left: rem(114.9);
  padding-right: rem(114.9);
}
.support-card__imgWrapper--2 {
  padding-left: rem(98.2);
  padding-right: rem(98.2);
}
.support-card__imgWrapper--3 {
  padding-left: rem(377);
  padding-right: rem(377);
}
.support-card__imgWrapper--4 {
  padding-left: rem(151.8);
  padding-right: rem(151.8);
}
.support-card__imgWrapper--5 {
  padding-left: rem(180);
  padding-right: rem(180);
}

.support-card__inner {
}

.support-card__textWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: rem(38.4);
  @include mq("md") {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: rem(15);
    padding: 0 rem(27);
  }
}

.support-card__title {
  font-size: rem(27);
  line-height: calc(34 / 27);
  letter-spacing: rem(0);
  font-family: $base-font-family;
  font-weight: $bold;
  color: $title-black;
  margin-bottom: rem(30);
  text-align: center;
  @include mq("md") {
    font-size: rem(18);
    line-height: calc(25 / 18);
    letter-spacing: rem(0);
    margin-bottom: rem(15);
  }
}

.support-card__text {
  font-size: rem(16);
  line-height: calc(24 / 16);
  letter-spacing: rem(0);
  font-family: $base-font-family;
  font-weight: $medium;
  color: $black;
  text-align: left;
  max-width: rem(754);
  @include mq("md") {
    font-size: rem(14);
    line-height: calc(24 / 14);
    letter-spacing: -0.03em;
    max-width: none;
  }
}

.support-card__imgWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: rem(200);
}

.support-card__imgItemWrapper {
  width: 100%;
}

.support-card__imgItem {
  position: relative;
}

// ﾓﾃﾞｨﾌｧｲｱ
.support-card__imgItem--1 {
  padding-top: 32.812075325%;
}
.support-card__imgItem--2 {
  padding-top: 26.204153778%;
}
.support-card__imgItem--3 {
  padding-top: 63.68577075%;
}
.support-card__imgItem--4 {
  padding-top: 34.015120619%;
}
.support-card__imgItem--5 {
  padding-top: 34.818888888%;
}

.support-card__imgItem img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

@include mq("md") {
  .support-card {
    background-color: $gray;
    border-radius: 10px;
    padding: rem(25) 0 rem(25);
  }

  // ﾓﾃﾞｨﾌｧｲｱ
  .support-card__imgWrapper--1 {
    padding-left: rem(5);
    padding-right: rem(5);
  }
  .support-card__imgWrapper--2 {
    // padding-left: rem(98.2);
    // padding-right: rem(98.2);
    padding-left: rem(5);
    padding-right: rem(5);
  }
  .support-card__imgWrapper--3 {
    // padding-left: rem(377);
    // padding-right: rem(377);
    padding-left: rem(100);
    padding-right: rem(100);
  }
  .support-card__imgWrapper--4 {
    // padding-left: rem(151.8);
    // padding-right: rem(151.8);
    padding-left: rem(5);
    padding-right: rem(5);
  }
  .support-card__imgWrapper--5 {
    // padding-left: rem(180);
    // padding-right: rem(180);
    padding-left: rem(5);
    padding-right: rem(5);
  }

  .support-card__inner {
  }

  .support-card__imgWrapper {
    column-gap: rem(50);
  }

  .support-card__imgItemWrapper {
  }

  .support-card__imgItem {
  }

  // ﾓﾃﾞｨﾌｧｲｱ
  .support-card__imgItem--1 {
    // padding-top: 32.812075325%;
  }
  .support-card__imgItem--2 {
    // padding-top: 26.204153778%;
  }
  .support-card__imgItem--3 {
    // padding-top: 63.68577075%;
  }
  .support-card__imgItem--4 {
    // padding-top: 34.015120619%;
  }
  .support-card__imgItem--5 {
    // padding-top: 34.818888888%;
  }

  .support-card__imgItem img {
  }
}
